<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="stylesheet" href="/admin/style.css">
</head>
<body>

<!-- Navigation Bar -->
<div class="navbar">
  <h1>Admin Dashboard</h1>
</div>

<!-- Sidebar -->
<div class="sidebar">
  <ul>
    <li><a href="/admin/agent">Agents</a></li>
    <li><a href="/admin/user">Users</a></li>
    <li><a href="/admin/product">Products</a></li>
    <li><a href="/admin/invoice">Invoices</a></li>
    <li><a href="/admin/customer">Customers</a></li>
    <li><a href="/admin">Profile</a></li>
    <li><a href="/">Log out</a></li>
  </ul>
</div>

<div class="search-container">
  <form >
    <input type="text" name="keyword" class="search-bar" placeholder="Search..." th:value="${keyword}">
    <button type="submit" class="search-button">Search</button>
  </form>
</div>

<div class="add-button-container">
  <a href="/admin/user/addUser" class="add-button">Add a New Employee</a>
</div>

<div class="user-table">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u: ${users}">
      <td th:text="${u.userId}"></td>
      <td th:text="${u.username}"></td>
      <td th:text="${u.gmail}"></td>
      <td th:text="${u.gender}"></td>
      <td th:text="${u.phone}"></td>
      <td th:text="${u.role}" class="role-label"></td>
      <td th:text="${u.status}"></td>
      <td class="action-buttons">
        <a href="#" class="view-button">View</a>
        <a href="#" class="edit-button">Edit</a>
      </td>
    </tr>

    <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>


</body>
</html>
